.text-center {
    text-align: center;
}

span.h3 {
    font-size: 17px;
    display:block;
    margin-bottom: 8px;
}

span.h5 {
    font-size: 12px;
    display:block;
    margin-bottom: 3px;
}

span.h4 {
    font-size: 15px;
    display:block;
}

.w-100 {
    width: 100%;
}

.cetak-kop {
    margin-bottom: 20px;
}

.cetak-logo {
    width: 90px;
    height: 90px;
}

.cetak-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
}

.cetak-container {
    margin: 3px;
    font-size: 13px;
}

.cetak-container table .cetak-table-title {
    width: 120px;
    font-weight: bold;
}

.cetak-container table .cetak-table-value {
    width: 200px;
}

.cetak-container table .cetak-table-legend {
    font-size: 16px; 
    font-weight: bolder; 
    text-decoration: underline;
}

table.bordered-table, table.bordered-table td, table.bordered-table th {
    border: 1px solid black;
}

.bordered-table td, .bordered-table th {
    padding: 5px;
}

table.bordered-table {
    width: 100%;
    border-collapse: collapse;
}