.sidebar-pmb-application .list-group .list-group-item.active {
    border-color: #7367f0;
}

.list-group .list-group-item.active {
    background: transparent;
    color: #7367f0;
}

.sidebar-pmb-application .list-group .list-group-item {
    padding: 0.58rem 1.5rem;
    border: 0;
    font-weight: 500;
    letter-spacing: 0.4px;
    border-left: 2px solid transparent;
    border-radius: 0;
}