.docs-preview-pane {
    position: relative;
}

.docs-preview-pane .hydrated {
    position: fixed;
}

.docs-preview-device {
    --device-aspect-ratio: 2.125;
    --device-padding: 2rem;
    padding: var(--device-padding);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.docs-preview-device>figure {
    border-radius: 32px;
    box-shadow: 0 0 0 14px #090a0d, 0 0 0 17px #9fa3a8, 0 0 34px 17px rgba(0,0,0,.2);
    height: 0;
    margin: 0;
    max-width: 320px;
    min-width: 320px;
    overflow: hidden;
    min-height: 650px;
    position: relative;
    width: calc((100vh - var(--header-height) - var(--device-padding)*2)/var(--device-aspect-ratio));
    z-index: 1;
}

.docs-preview-device.ios .docs-preview-device__ios-notch, .docs-preview-device.ios figure:after {
    display: block;
}

.docs-preview-device__ios-notch {
    display: none;
    fill: #090a0d;
    left: 50%;
    position: absolute;
    top: -1px;
    transform: translateX(-50%);
    width: 165px;
    z-index: 2;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

.docs-preview-device>figure>.inner, .docs-preview-device>figure>.inner .inner-bottom {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    background-size: 100%;
    background-repeat: no-repeat;
}

.docs-preview-device>figure>.inner {
    background-position: top;
    background-color: #fff;
}

.docs-preview-device>figure>.inner .inner-top {
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    /* background-image: url(../images/phone-top.png); */
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.phone-message-box {
    padding-top: 50px;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 50px;
    font-size: 15px;
}

.phone-message-box .from {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 40px;
}

.phone-message-box .time {
    font-size: 10px;
}

.phone-message-box .phone-message {
    padding: 15px;
    background-color: #f0f0f0;
    color: #000;
    border-radius: 15px;
    border: 1px solid #d7d7d7;
    word-wrap: break-word;
}

.docs-preview-device>figure>.inner .inner-bottom {
    /* background-image: url(../images/phone-bottom.png); */
    background-position: bottom;
}