/* Varaibles - config */
/* SCSS*/
body {
	background: #F5EEC9;
  }
  
  .content {
	font-family: Verdana;
	font-size: 14px;
	position: relative;
  }
  .content * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  .org-chart {
	display: block;
	clear: both;
	margin-bottom: 30px;
	position: relative;
	/**
	* For IE 6/7 only
	* Include this rule to trigger hasLayout and contain floats.
	*/
	/* Box colors */
	/* 1 column */
	/* 2 column */
	/* 3 column */
	/* DEPARTMENTS COLUMNs */
  }
  .org-chart.cf:before, .org-chart.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
  }
  .org-chart.cf:after {
	clear: both;
  }
  .org-chart.cf {
	zoom: 1;
  }
  .org-chart ul {
	padding: 0;
	margin: 0;
	list-style: none;
  }
  .org-chart ul li {
	position: relative;
  }
  .org-chart ul li span {
	display: block;
	border: 3px solid #009ef7;
	text-align: center;
	overflow: hidden;
	text-decoration: none;
	color: black;
	font-size: 10px;
	box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.4);
	-webkit-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	transition: all linear 0.1s;
	background: #92D4A8;
	padding: 4px;
  }
  .org-chart .lvl-b {
	background: #f1faff;
	color: #009ef7;
  }
  .org-chart .board {
	width: 100%;
	margin: 0 auto;
	display: block;
	position: relative;
  }
  .org-chart .board:before {
	content: "";
	display: block;
	position: absolute;
	height: 347px;
	width: 0px;
	border-left: 2px solid #009ef7;
	margin-left: 50%;
	top: 20px;
  }
  .org-chart ul.columnOne {
	height: 90px;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
  }
  .org-chart ul.columnOne li {
	width: 15%;
	margin: 0px auto;
	top: 20px;
  }

  /* SEKRETARIAT */
  .org-chart ul.columnTwoSK {
	position: relative;
	width: 100%;
	display: block;
	height: 90px;
	clear: both;
  }
  .org-chart ul.columnTwoSK li:first-child {
	width: 15%;
	float: left;
	margin-left: 20%;
  }
  .org-chart ul.columnTwoSK li {
	width: 15%;
	float: right;
	margin-right: 20%;
  }
  .org-chart ul.columnTwoSK:before {
	content: "";
	display: block;
	position: relative;
	width: 45%;
	height: 10px;
	border-top: 2px solid #009ef7;
	margin: 0 auto;
	top: 40px;
  }
  .org-chart .columnTwoSK .lvl-b:before {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 22px;
	border-left: 2px solid #009ef7;
	left: 50%;
	top: 30px;
  }

  .org-chart .columnTwoSK:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 700px;
    border-left: 2px solid #009ef7;
    left: 50%;
    top: 30px;
   }

   .org-chart .columnTwoSK li:nth-child(2):after{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 20px;
    border-left: 2px solid #009ef7;
    left: 50%;
    top: 344px;
   }

  .org-chart ul.columnTwoSKChild-1 {
	position: relative;
	width: 50%;
	display: block;
	height: 90px;
	clear: both;
  }
  .org-chart ul.columnTwoSKChild-1 li:first-child {
	width: 30%;
	float: left;
	margin-top: -10px;
	margin-left: 13%;
  }
  .org-chart ul.columnTwoSKChild-1 li {
	width: 30%;
	float: right;
	margin-top: -10px;
	margin-right: 13%;
  }
  .org-chart ul.columnTwoSKChild-1:before {
	content: "";
	display: block;
	position: relative;
	width: 45%;
	height: 22px;
	border-top: 2px solid #009ef7;
	border-left: 2px solid #009ef7;
    border-right: 2px solid #009ef7;
	margin: 0 auto;
	top: 20px;
  }

  .org-chart .departmentsSk {
	width: 100%;
	display: block;
	clear: both;
	margin-top: 284px;
  }
  .org-chart .departmentsSk:before {
	content: "";
	display: block;
	height: 22px;
	border-top: 2px solid #009ef7;
	border-left: 2px solid #009ef7;
	border-right: 2px solid #009ef7;
	margin: 0 auto;
	top: 0px;
  }

  .org-chart .departmentsSkW6 li:first-child {
	margin-left: 0%;
  }

  .org-chart .departmentsSkW6:before {
	width: 85%;
  }

  .org-chart .departmentsSkW5 li:first-child {
	margin-left: 10%;
  }

  .org-chart .departmentsSkW5:before {
	width: 70%;
  }

  .org-chart .departmentsSkW4 li:first-child {
	margin-left: 19%;
  }

  .org-chart .departmentsSkW4:before {
	width: 55%;
  }

  .org-chart .departmentsSkW3 li:first-child {
	margin-left: 27%;
  }

  .org-chart .departmentsSkW3:before {
	width: 40%;
  }
  
  .org-chart .departmentsSkW2 li:first-child {
	margin-left: 35%;
  }

  .org-chart .departmentsSkW2:before {
	width: 25%;
  }

  .org-chart .departmentsSkW1 li:first-child {
	margin-left: 43%;
  }

  .org-chart .departmentsSkW1:before {
	width: 0%;
  }


  .org-chart .departmentSk {
	border-left: 2px solid #009ef7;
	width: 15.5%;
	float: left;
	margin: 0px 4px;
  }
  .org-chart .departmentSk:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 22px;
	border-left: 2px solid #009ef7;
	left: 50%;
	top: -22px;
  }
  .org-chart .departmentSk:first-child:after {
	display: none;
  }
  .org-chart .departmentSk:last-child:after {
	display: none;
  }
  .org-chart .departmentSk.central {
	background: #F5EEC9;
  }
  .org-chart .departmentSk.central:after {
	display: none;
  }
  .org-chart .departmentSk span {
	border-left: 1px solid #009ef7;
	margin-right: 25px;
  }
  .org-chart .departmentSk li {
	/* padding-left: 25px; */
	border-bottom: 2px solid #009ef7;
	height: 310px;
  }
  .org-chart .departmentSk li span {
	background: #f1faff;
	top: 38px;
	left: 10px;
	position: absolute;
	z-index: 1;
	width: 95%;
	height: auto;
	vertical-align: middle;
	right: 0px;
	line-height: 14px;
	border: 3px solid #009ef7;
  }
  .org-chart .departmentSk .sections {
	margin-top: -20px;
  }

  .org-chart .departmentSk .sections li {
	width: 90%;
  }

  .org-chart .sections li:first-child {
	margin-left: 0px;
  }
  /*  */

  .org-chart ul.columnTwo {
	position: relative;
	width: 100%;
	display: block;
	height: 90px;
	clear: both;
  }
  .org-chart ul.columnTwo li:first-child {
	width: 23%;
	float: left;
  }
  .org-chart ul.columnTwo li {
	width: 23%;
	float: right;
  }
  .org-chart ul.columnTwo:before {
	content: "";
	display: block;
	position: relative;
	width: 80%;
	height: 10px;
	border-top: 2px solid orange;
	margin: 0 auto;
	top: 40px;
  }
  .org-chart ul.columnThree {
	position: relative;
	width: 100%;
	display: block;
	clear: both;
  }
  .org-chart ul.columnThree li:first-child {
	width: 30%;
	float: left;
	margin-left: 0;
  }
  .org-chart ul.columnThree li {
	width: 30%;
	margin-left: 5%;
	float: left;
  }
  .org-chart ul.columnThree li:last-child {
	width: 30%;
	float: right;
	margin-left: 0;
  }
  .org-chart ul.columnThree:before {
	content: "";
	display: block;
	position: relative;
	width: 80%;
	height: 10px;
	border-top: 2px solid orange;
	margin: 0 auto;
	top: 40px;
  }
  .org-chart .departments {
	width: 100%;
	display: block;
	clear: both;
	margin-top: 270px;
  }
  .org-chart .departments:before {
	content: "";
	display: block;
	width: 85%;
	height: 22px;
	border-top: 2px solid orange;
	border-left: 2px solid orange;
	border-right: 2px solid orange;
	margin: 0 auto;
	top: 0px;
  }
  .org-chart .department {
	border-left: 2px solid orange;
	width: 13.2%;
	float: left;
	margin: 0px 4px;
  }
  .org-chart .department:after {
	content: "";
	position: absolute;
	display: block;
	width: 10px;
	height: 22px;
	border-left: 2px solid orange;
	left: 50%;
	top: -22px;
  }
  .org-chart .department:first-child:after {
	display: none;
  }
  .org-chart .department:last-child:after {
	display: none;
  }
  .org-chart .department.central {
	background: #F5EEC9;
  }
  .org-chart .department.central:after {
	display: none;
  }
  .org-chart .department span {
	border-left: 1px solid orange;
  }
  .org-chart .department li {
	padding-left: 25px;
	border-bottom: 2px solid orange;
	height: 80px;
  }
  .org-chart .department li span {
	background: #92D4A8;
	top: 38px;
	position: absolute;
	z-index: 1;
	width: 95%;
	height: auto;
	vertical-align: middle;
	right: 0px;
	line-height: 14px;
	border: 3px solid orange;
  }
  .org-chart .department .sections {
	margin-top: -20px;
  }
  
  /* MEDIA QUERIES */
  @media all and (max-width: 767px) {
	.org-chart .board {
	  margin: 0px;
	  width: 100%;
	}
	.org-chart .departments:before {
	  border: none;
	}
	.org-chart .department {
	  float: none;
	  width: 100%;
	  margin-left: 0;
	  background: #F5EEC9;
	  margin-bottom: 40px;
	}
	.org-chart .department:before {
	  content: "";
	  display: block;
	  position: absolute;
	  width: 15px;
	  height: 60px;
	  border-left: 2px solid orange;
	  z-index: 1;
	  top: -45px;
	  left: 0%;
	  margin-left: -2px;
	}
	.org-chart .department:after {
	  display: none;
	}
	.org-chart .department:first-child:before {
	  display: none;
	}
  }
  /*--------- TO BE REMOVED FROM YOUR CSS --*/
  /* this is just to display the behaviour of responsive on codepen */
  .responsive-content {
	width: 767px;
	margin: 0px auto;
  }
  .responsive-content .org-chart .board {
	margin: 0px;
	width: 100%;
  }
  .responsive-content .org-chart .departments:before {
	border: none;
  }
  .responsive-content .org-chart .department {
	float: none;
	width: 100%;
	margin-left: 0;
	background: #F5EEC9;
	margin-bottom: 40px;
  }
  .responsive-content .org-chart .department:before {
	content: "";
	display: block;
	position: absolute;
	width: 15px;
	height: 60px;
	border-left: 2px solid orange;
	z-index: 1;
	top: -45px;
	left: 0%;
	margin-left: -2px;
  }
  .responsive-content .org-chart .department:after {
	display: none;
  }
  .responsive-content .org-chart .department:first-child:before {
	display: none;
  }